.terraform

.idea/misc.xml
.idea/modules.xml
.idea/unity-cs-infra.iml
.idea/vcs.xml
.idea/workspace.xml
utils/tag-report-mcp-dev.txt
utils/tag-report-mcp-test.txt
utils/tag-report.txt
*.tfstate
*.backup
utils/.terraform*

nightly_output.txt
nightly_tests/CF_EVENTS.txt
nightly_tests/NIGHTLY.ENV
nightly_tests/__pycache__/
nightly_tests/cloudformation/
nightly_tests/cloudformation_events.txt
nightly_tests/makereport_output.txt
nightly_tests/nightly_output.txt
nightly_tests/selenium_nightly_output.txt
nightly_tests/status.txt
nightly_tests/template.yml

aws_role_create/identity.txt
aws_role_create/output.txt
aws_role_create/policies.list
aws_role_create/role.txt

MMGIS-IAC/terraform/.terraform
MMGIS-IAC/terraform/.terraform*
MMGIS-IAC/terraform2/.terraform.lock.hcl
MMGIS-IAC/terraform2/.terraform/modules/modules.json
