
.idea/misc.xml
.idea/modules.xml
.idea/unity-cs-infra.iml
.idea/vcs.xml
.idea/workspace.xml
utils/tag-report-mcp-dev.txt
utils/tag-report-mcp-test.txt
utils/tag-report.txt
*.tfstate
*.backup
utils/.terraform*
